@import "theme/spinner/base";

//#region CSS Snackbar Alert
::ng-deep snack-bar-container.green-snackbar {
  background: rgb(6, 97, 39);
  color: white;
}
::ng-deep snack-bar-container.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
::ng-deep snack-bar-container.red-snackbar {
  background: #F44336;
  color: white;
}
::ng-deep snack-bar-container.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}

::ng-deep snack-bar-container.yellow-snackbar {
  background: #eef77b;
  color: white;
}
::ng-deep snack-bar-container.yellow-snackbar button {
  background-color: #eef77b;
  color: white !important;
  border: none;
}
//#endregion CSS Snackbar Alert
